@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(https://fonts.googleapis.com/css?family=Song+Myung);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400&subset=latin-ext);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

/*
body {
  background: white;
  width: 100%;
  margin: 50px auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h3 {
  color: #000;
  font-family: "Song Myung", "Ubuntu Condensed", serif;
  font-size: 200%;
  font-weight: normal;
  text-transform: capitalize;
}
*/

.page {
    width: 80%;
    max-width: 640px;
    margin: 0 auto;
    word-wrap: break-word;
}
